body{
    font-family: scandia-web,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji!important;
}
.container-home{
    min-height: 75vh;
    padding-top: 100px;
    text-align: center;
    h1{
        font-size: 70px;
        letter-spacing: 6px;
        color: #151435;

    }
    h2{
        color: #F9322C;
        font-size: 32px;
    }

    p{
      
        font-size: 18px;
    }

    .btn-group {
        a{
            text-decoration: none;
            cursor: pointer;
        }
        a:nth-child(1){
            margin-right: 20px;
            background:#F9322C;
            color: white;
            padding: 15px;
            border: none;
        }
        a:nth-child(2){
            margin-right: 20px;
            background:white;
            color: #F9322C;
            padding: 15px;
            border: 1px solid #F9322C;
        }
        
    }
}
span.number-header{
    display: flex;
    h1{
        display: flex;
        align-items: center;
        margin: 0 0 20px 0;
    }
    h1:nth-child(1){
        color: #F9322C;
        font-size: 20px;
        font-family: "Roboto Mono", monospace;
        display: flex;
        align-items: flex-end;
    }
    h1:nth-child(2){
        font-size: 30px;
       
    }
}
.number-wrapper{
    min-height: 40vh;

    img{
        width: 80%;
        border-radius: 10px;
        margin-bottom: 10px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    .row{
        div:nth-child(2){
            display: flex;
            flex-direction: column;
            align-items: center;
            
        
        }
    }
    p{
        font-size: 18px;
    }

}
.img{
    width: 500px;
        border-radius: 10px;
        margin-bottom: 10px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


@media (max-width:768px){
    .container-home{
        h1{
            font-size: 40px;
        }
        h2{
            font-size: 25px;
        }
    }

    span.number-header h1{
        font-size: 24px!important;
    }
}